@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


.primary{
    /* background-color: #bfbfbf; */
    background-color: #1C2451;
}

.primaryTwo{
    /* background-color: #bfbfbf7e; */
    background-color: #1C2451;
}

.inputBackground{
    background-color: #606685;
}

.textColor{
    color: #F0F0F3;
}


.border-gray{
    border-color: #808080;
}

.bg-gray{
    background: #808080;
}

.font {
    font-family: plein, sans-serif;
}

.myBlogLogo {
    font-family: 'Array', sans-serif;
}

.homePage {
    font-family: 'Alpino', sans-serif;
}


