@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


.primary{
    background-color: #bfbfbf;
}


.border-gray{
    border-color: #808080;
}

.bg-gray{
    background: #808080;
}

.font {
    font-family: plein, sans-serif;
}

.myBlogLogo {
    font-family: 'Array', sans-serif;
}

.homePage {
    font-family: 'Alpino', sans-serif;
}


